<footer>
    <div class="footer">
        <!-- footer-row1 -->
        <div class="row1">
            <div class="col1">
                <p>Follow Us</p>
                <div class="social_icons">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-pinterest"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
            <div class="col2">
                <p>Sign up to receive email news, promotions, and information about our products.</p>
                <div class="form">
                    <input type="text" placeholder="Email Address" name="email">
                    <button>Submit</button>
                </div>
            </div>
        </div>

        <!-- footer-row2 -->
        <div class="row2">
            <div class="col">
                <p>Stores</p>
                <ul>
                    <li>About our Stores</li>
                    <li>Find a Store</li>
                    <li>Our Collection</li>
                </ul>
            </div>

            <div class="col">
                <p>Resources</p>
                <ul>
                    <li>Suppliers</li>
                    <li>Careers</li>
                    <li>Press Room</li>
                    <li>Samples</li>
                </ul>
            </div>

            <div class="col">
                <p>Help</p>
                <ul>
                    <li>Help & FAQ</li>
                    <li>Track Your Order</li>
                    <li>Shipping & Deliveries</li>
                    <li>Returns</li>
                    <li>Product Registration</li>
                    <li>Contact Us</li>
                </ul>
            </div>

            <div class="col">
                <p>About Us</p>
                <ul>
                    <li>50th Anniversary</li>
                    <li>Who We Are</li>
                    <li>Our Brands/Businesses</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<section>
    <div class="additional_footer">
        <p>Subject Access Request</p>
        <p>Privacy</p>
        <p>Cookies Settings</p>
        <p>Legal</p>
        <p>Site Map</p>
        <p>Terms</p>
        <p>©Home-Shop Co. All Rights Reserved</p>
    </div>
</section>