<div class="header">
    <div class="header-left">
        <ul>
            <li id="title"><a routerLink="/">आश्रय</a></li>
            <li>WOOD</li>
            <li>STEEL</li>
        </ul>
    </div>
    <div class="header-right">
        <span><i class="fa-solid fa-location-dot"></i>
            <p>Find a store</p>
        </span>
        <div class="vertical_rule"></div>
        <i class="fa-regular fa-user"></i>
        <i class="fa-regular fa-heart"></i>
        <div class="cart">
            <a routerLink="/cart"><i class="fa-solid fa-cart-shopping "></i>
                <div class="cart_count">0</div>
            </a>
        </div>
    </div>
</div>