<div class="Product_Page">
    <div class="product_container">
        <div class="product_left ">
            <div class="product_img">
                <img src="../../../assets/bathroom-set.jpg" />
            </div>
        </div>
        <div class="product_right">
            <p class="h4">Bathroom Set</p>
            <p class="h2">$50</p>
            <div class="quantity_selector">
                <button class='decrease_button' (click)="decreaseQuantity()">-</button>
                <p class="quantity">{{quantity}}</p>
                <button class='increase_button' (click)="increaseQuantity()">+</button>
            </div>
            <button class="add_to_cart">Add to cart</button>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
            </div>
            <div class="text">
                <h4>Product Details</h4>
                <span>Drawing inspiration from the archives, the Kernen lighting collection combines
                    classic and modern influences in a timeless expression for the home. The combination of textured
                    coining
                    details and elegant milk glass imbues the design with an updated vintage charm. </span>
            </div>
        </div>
    </div>
</div>