.banner {
  width: 100%;
  position: relative;
  margin-bottom: 4rem;
}

.banner .video {
  z-index: -1;
  position: relative;
  width: 100%;
  height: 100%;
}

.banner .video video {
  width: 100%;
  height: 100%;
  display: block;
}

.banner_content {
  color: #fff;
  position: absolute;
  top: 30%;
  left: 37%;
  font-size: 32px;
}

.banner_content .slogan {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner_content .slogan h2 {
  letter-spacing: -3.1px;
  font-size: 60px;
  line-height: 68px;
  font-family: Amita;
}
