<!-- cart-content -->
<!-- <h1>Your cart is empty</h1>
                <p>Sign in to see items previously added to your cart</p>
                <div class="buttons">
                    <button>Sign In</button>
                    <button class="white_btn">Continue Shopping</button>
                </div> -->
<div class="cart_container">

    <div class="cart_heading">
        Your Cart(0)
    </div>

    <div class="cart_items">
        <!-- heading -->
        <div class="heading_row">
            <div class="col1">
                <p>ITEM</p>
            </div>
            <div class="col2">
                <div class="item_price">ITEM PRICE</div>
                <div class="quantity">QUANTITY</div>
                <div class="total_price">TOTAL PRICE</div>
            </div>
        </div>

        <!-- items -->
        <div class="itemAndRemove">
        </div>
    </div>

</div>


<!-- feedback -->
<section>
    <div class="feedback_section">
        <p>Help Us Improve This Site</p>
        <button>Provide Feedback</button>
    </div>
</section>